{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
      "linebreak-style": 0,
      "prefer-default-export":false,
      "object-curly-spacing": ["warn", "never"],
      "func-names": "off",
      "space-before-function-paren": ["error", "never"],
      "prefer-destructuring": ["error", {"object": false, "array": false}],
      "max-len": ["error", 120, 4]
    }
  }